/* ==UserStyle==
@name         Bilibili隐藏顶栏并修复布局
@namespace    bilibili-hide-navbar
@version      1.1.0
@description  专为Wider Bilibili配套设计的隐藏Bilibili顶部导航栏，并修复隐藏顶栏后产生的页面布局空白
@author       LuoTaoMochi
@homepageURL  https://github.com/LuoTaoMochi/bilibili-hide-navbar
@supportURL   https://userstyles.world/style/29767/bilibili
@updateURL    https://raw.githubusercontent.com/LuoTaoMochi/bilibili-hide-navbar/main/bilibili-hide-navbar.user.css
==/UserStyle== */

@-moz-document domain("bilibili.com") {
    /* 官方站内播放页：
       /video/BV... /video/av...
       /s/video/BV...
       /festival/...?...bvid=BV...
       /bangumi/play/ep... /bangumi/play/ss...
       /cheese/play/ep... /cheese/play/ss...
       /list/... /medialist/play/...
       /medialist/play/watchlater
       live.bilibili.com/{roomId}
       live.bilibili.com/blanc/{roomId}
       live.bilibili.com/record/...
       live.bilibili.com/festival/...?...bvid=BV...
       live.bilibili.com/h5/...
    */
    :root {
        --navbar-height: 0px !important;
    }

    .bili-header-m > .nav-menu,
    .z_top,
    .z-top-container#bili-header-container {
        visibility: hidden !important;
        height: 0px !important;
    }

    #message-navbar,
    body:not(.history-page) #biliMainHeader:not(.z-top-container),
    .z-top-container:not(#biliMainHeader, .has-menu) {
        max-height: 0px !important;
    }

    .link-top-container#tab-container {
        top: 0px !important;
    }
}
