/* ==UserStyle==
@name         Bilibili隐藏顶栏并修复布局
@namespace    bilibili-hide-navbar
@version      1.0.1
@description  专为Wider Bilibili配套设计的隐藏Bilibili顶部导航栏，并修复隐藏顶栏后产生的页面布局空白
@author       LuoTaoMochi
@homepageURL  https://github.com/LuoTaoMochi/bilibili-hide-navbar
@supportURL   https://userstyles.world/style/29767/bilibili
@updateURL    https://raw.githubusercontent.com/LuoTaoMochi/bilibili-hide-navbar/main/bilibili-hide-navbar.user.css
==/UserStyle== */

@-moz-document
    url-prefix("https://www.bilibili.com/video/"),
    url-prefix("https://www.bilibili.com/s/video/"),
    url-prefix("https://www.bilibili.com/festival/"),
    url-prefix("https://www.bilibili.com/bangumi/play/"),
    url-prefix("https://www.bilibili.com/bangumi/media/"),
    url-prefix("https://www.bilibili.com/cheese/play/"),
    url-prefix("https://www.bilibili.com/list/"),
    url-prefix("https://www.bilibili.com/medialist/play/"),
    url-prefix("https://www.bilibili.com/audio/au"),
    url-prefix("https://www.bilibili.com/audio/am"),
    url-prefix("https://www.bilibili.com/audio/mycollection/"),
    url-prefix("https://m.bilibili.com/video/"),
    url-prefix("https://live.bilibili.com/") {
    :root {
        --navbar-height: 0px !important;
    }

    .bili-header-m > .nav-menu,
    .z_top,
    .z-top-container#bili-header-container {
        visibility: hidden !important;
        height: 0px !important;
    }

    #message-navbar,
    body:not(.history-page) #biliMainHeader:not(.z-top-container),
    .z-top-container:not(#biliMainHeader, .has-menu) {
        max-height: 0px !important;
    }

    .link-top-container#tab-container {
        top: 0px !important;
    }
}
